version: 2
jobs:
  build:
    machine: true
    steps:
      - checkout

      # - run:
      #     name: Install Docker client
      #     command: |
      #       apt-get update -y
      #       apt install docker.io -y
      #       service docker start

      - run: |
          TAG=0.7.$CIRCLE_BUILD_NUM
          docker build -t $DOCKER_USER/probegenerator:$TAG . 
          docker login -u $DOCKER_USER -p $DOCKER_PASS
          docker push dstein96/probegenerator:$TAG
