version: 2
jobs:
  build:
    docker:
      - image: ubuntu/ubuntu:latest
    steps:
      - checkout

      - setup_remote_docker:
        docker_layer_caching: true

      - run:
        name: Install Docker client
        command: |
        apt-get update -y
        apt install docker.io -y
        systemctl start docker

      - run:
        TAG=0.7.$CIRCLE_BUILD_NUM
        docker build -t dstein96/probegenerator:$TAG . 
        docker login -u $DOCKER_USER -p $DOCKER_PASS
        docker push dstein96/probegenerator:$TAG
