version: 2
jobs:
  build:
    machine: true
    steps:
      # Setup build directory
      - run: |
          mkdir /build
      
      # Set working directory
      working_directory: /build

      - checkout

      # Checkout OligoMiner
      - run: git clone https://github.com/brianbeliveau/OligoMiner.git

      # Move Dockerfile from probegenerator to /build directory
      - run: cp probegenerator/Dockerfile ./Dockerfile 

      # Build and push the probe generator image
      - run: |
          TAG=0.7.$CIRCLE_BUILD_NUM
          docker build -t $DOCKER_USER/probegenerator:$TAG . 
          docker login -u $DOCKER_USER -p $DOCKER_PASS
          docker push dstein96/probegenerator:$TAG
