version: 2
jobs:
  build:
    machine: true
    steps:
      # Setup build directory
      - run: |
          mkdir $HOME/build
          cd $HOME/build

      - checkout:
          path: $HOME/build

      # Checkout OligoMiner
      - run: git clone https://github.com/brianbeliveau/OligoMiner.git $HOME/build

      # Move Dockerfile from probegenerator to /build directory
      - run: |
          ls $HOME/build
          cp $HOME/build/probegenerator/Dockerfile $HOME/build/Dockerfile 
          ls $HOME/build

      # Build and push the probe generator image
      - run: |
          TAG=0.7.$CIRCLE_BUILD_NUM
          docker build -t $DOCKER_USER/probegenerator:$TAG . 
          docker login -u $DOCKER_USER -p $DOCKER_PASS
          docker push dstein96/probegenerator:$TAG
